/* stars rating widget */
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

/* ==========================================================================
 Typography
 ========================================================================== */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 0.25em 0;
    font-weight: normal;
}

h1, .h1 {
    font-size: 1.95313em;
    font-family: Nobblee, Arial, sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
}

h2, .h2 {
    font-size: 1.709em;
    font-family: Nobblee, Arial, sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
}

h3, .h3 {
    font-size: 1.36719em;
    font-family: Rubrik, Arial, sans-serif;
    line-height: 1.2;
    text-transform: normal;
}

h4, .h4 {
    font-size: 1.09375em;
    font-family: Rubrik, Arial, sans-serif;
    line-height: 1.3;
    text-transform: normal;
}

h5, .h5 {
    font-size: 1em;
    font-family: Arial, sans-serif;
    line-height: 1.4;
    text-transform: normal;
}

h6, .h6 {
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    line-height: 1.4;
    text-transform: normal;
}

/*@media (min-width: 45em) {*/
    /*body {*/
        /*font-size: 1em;*/
    /*}*/

    /*h1, .h1 {*/
        /*font-size: 2.67031em;*/
    /*}*/

    /*h2, .h2 {*/
        /*font-size: 2.13625em;*/
    /*}*/

    /*h3, .h3 {*/
        /*font-size: 1.709em;*/
    /*}*/

    /*h4, .h4 {*/
        /*font-size: 1.25em;*/
    /*}*/

    /*h5, .h5 {*/
        /*font-size: 1.09375em;*/
    /*}*/

    /*h6, .h6 {*/
        /*font-size: 1em;*/
    /*}*/
/*}*/

/* ==========================================================================
 HELPER CLASSES
 ========================================================================== */
.clearfix:after, .group:after {
    content: "";
    display: table;
    clear: both;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

img {
    page-break-inside: avoid;
    /*width: 100% !important;*/
    border: none;
}

/* ==========================================================================
 CONTAINERS
 ========================================================================== */
main:after, section:after, .container:after, .content_rows:after {
    content: "";
    display: table;
    clear: both;
}

/* ==========================================================================
 BASE STYLES
 ========================================================================== */
.module {
    margin: 1em 0;
}

.container {
    max-width: 100%;
    margin: 0 0.5em;
    padding: 1em 0em;
    word-wrap: break-word;
}

.col {
    float: left;
}

.col:last-child {
    padding-right: 0;
}

.col.nest {
    padding: 0;
}

.promo-image {
    padding: 0;
    margin: 0.5em 0;
}

.panel {
    position: relative;
}
.panel h1:first-child, .panel h2:first-child, .panel h3:first-child {
    margin-top: 0;
}

.nopadding, .nopadding .col {
    padding: 0 !important;
}

@media (min-width: 45em) {
    .span-1 {
        width: 8.33333%;
    }
}

@media (min-width: 45em) {
    .span-2 {
        width: 16.66667%;
    }
}

@media (min-width: 35em) {
    .span-3 {
        width: 50%;
    }
}
@media (min-width: 45em) {
    .span-3 {
        width: 25%;
    }
}
@media (min-width: 35em) {
    .span-3 + .span-9 {
        width: 50%;
    }
}
@media (min-width: 45em) {
    .span-3 + .span-9 {
        width: 75%;
    }
}

@media (min-width: 45em) {
    .span-4 {
        width: 33.33333%;
    }
}

@media (min-width: 45em) {
    .span-5 {
        width: 41.66667%;
    }
}

@media (min-width: 35em) {
    .span-6 {
        width: 50%;
    }
}

@media (min-width: 45em) {
    .span-7 {
        width: 58.33333%;
    }
}

@media (min-width: 45em) {
    .span-8 {
        width: 66.66667%;
    }
}

@media (min-width: 35em) {
    .span-9 {
        width: 50%;
    }
}
@media (min-width: 45em) {
    .span-9 {
        width: 75%;
    }
}
@media (min-width: 35em) {
    .span-9 + .span-3 {
        width: 50%;
    }
}
@media (min-width: 45em) {
    .span-9 + .span-3 {
        width: 25%;
    }
}

@media (min-width: 45em) {
    .span-10 {
        width: 83.33333%;
    }
}

@media (min-width: 45em) {
    .span-11 {
        width: 91.66667%;
    }
}

/* ==========================================================================
 CLEARFIX
 ========================================================================== */
.clearfix, section, .container, main {
    zoom: 1;
}

.clearfix:before, section:before, .container:before, main:before, .clearfix:after, section:after, .container:after, main:after, .featured-device-deals .panel:after {
    content: " ";
    display: table;
}

.clearfix:after, section:after, .container:after, main:after {
    clear: both;
}

.cust_reviews-container {
    width: 980px;
    page-break-before: auto;
    margin: 0 auto;
    padding: 0.75em;
}

.reviews_heading-container .reviews_heading, .model_and-ratings .reviews_sub-heading {
    text-transform: uppercase;
}

/*===========================================
 =            Star rating styling            =
 ===========================================*/

/* wrapper divs */
.rating-option {
    position: relative;
}

/* input, label positioning */
.rating-option input {
    position: absolute;
    left: 2px;
    top: 3px;
    margin: 0;
    z-index: 0;
}
.rating-option label {
    background: url(star.gif) no-repeat -14px -11px;
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0;
    cursor: pointer;
    text-indent: -9999em;
    overflow: hidden;
    z-index: 1;
}

/* states */
.rating-option label.checked {
    background-position: -14px -211px;
}
.rating-option label.hover {
    background-position: -14px -111px;
}
.rating-option label.focus {
    outline: 1px dotted #ccc;
}
.rating-submit {
    display: none;
}

.star {
    background: url(star.gif) no-repeat -14px -11px;
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0;
    cursor: pointer;
    text-indent: -9999em;
    overflow: hidden;
    z-index: 1;
}

/*==========  reset  ==========*/

p {
    margin: 0;
    padding: 0.25em 0;
}

label[for="sortOptions"] {
    float: left;
    padding-right: 1em;
    padding-top: 0.7em;
    display: inline-block;
}

.sort {
    width: 35%;
    margin: 1rem auto;
}

.sort .custom-select {
    display: block;
    width: 80%;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

/* styled select html */
.custom-select,
.styled-select {
    background-color:#fff;
    border: 1px solid #919CB0;
    color: #425968;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom:1.25em;
    -webkit-border-radius: 5px;
    position: relative;
    z-index: 2;
    overflow:hidden;

}

.custom-select select,
.styled-select select {
    background: transparent;
    border: 0;
    color: #425968;
    font-size: 0.875em;
    line-height: 1.6;
    margin: 0;
    padding: 5px 0;
    position: relative;
    z-index: 5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

/* for IE10 and above */
.custom-select select::-ms-expand {
    display: none;
}

.lt-ie9 .custom-select select,
.lt-ie10 .custom-select select{
    width:130%;
}

.custom-select .selector{
    position: absolute;
    right: 16px;
    top:-3px;
    font-size: 2em;
}

/*==========  reviews container  ==========*/

#reviews_container {
    padding-top: 0.5em;
}

.review {
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    padding: 1em 0;
}

/*-----  End of Star rating styling  ------*/

span.starsRating, span.starsRating span {
    display: block;
    background: url(../img/stars_ford.png) 0 -49px repeat-x;
    width: 230px;
    height: 48px;
}

span.starsRating span {
    background-position: 0 0;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
    -ms-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
}
.fade.in{
    opacity: 1;
}

.ave_rating{
    text-align: right;
}

.star_container{
    margin-left: 260px;
}

.reviews_stars{
    margin: 0.5em 0;
}

.labels > .group > li.col:not(:last-child){
    padding-right: 0.75rem;
}

.reviews_heading-container{
    padding: 0.75em 0;
}

.strong{
    font-weight: 900;
}

/*============== CUSTOM BUTTONS =============*/

.custom-button.blue {
    background-color: #415969;
    padding: 0.9286em 0;
    color: white;
    display: inline-block;
    font-family: 'FordAntennaCond';
    font-size: 0.875em;
    font-weight: normal;
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 100%;
    border-radius: 2px;
    border: none;
}

/*============== CUSTOM BUTTONS =============*/

.container {
    max-width: 62.5em;
    margin: 0 auto;
    padding: 1em 0.5em;
    word-wrap: break-word;
}

.container.centered__content, .centered__content {
    margin: 0 auto;
}