<!doctype html>
<html lang="en" ng-app="reviewsApp">
<head>
    <meta charset="utf-8">
    <title>Customer Reviews</title>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
<div class="row">

    <section class="cust_reviews-container">
        <header class="reviews_heading-container">
            <h2 class="reviews_heading">Customer Reviews</h2>
        </header>
        <div class="model_and-ratings group">
            <div class="model_title col span-6">
                <h3 class="reviews_sub-heading">Ford <span class="strong"> Fiesta </span></h3>
            </div>
            <!--RatingsController-->
            <div ng-controller="RatingsController" class="model_stars col span-6">
                <div data-ng-controller="starsController">
                    <!-- this is the template for the star ratings -->
                    <p class="star_container pull-right clearfix"><span class="starsRating pull-right"><span ngbk-focus data-value="{{event.data.surveySummaryRecords.CumulativeAvg}}" class="fade starWidth" ng-class="{in:event}"></span></span></p>
                    <div class="ave_rating">
                        <p class="valueStar" ngbk-focus data-value="{{event.data.surveySummaryRecords.CumulativeAvg}}">{{event.data.surveySummaryRecords.CumulativeAvg}} Average customer rating</p>
                        <p>{{event.data.surveySummaryRecords.CumCustomersReceivedCount}} reviews</p>
                    </div>
                </div>
            </div>
            <!--end RatingsController-->
        </div>

        <div id="reviews_container" data-ng-controller="ReviewsController" class="module">
            <div ng-controller="SortController" class="sort clearfix">
                <label for="sortOptions" class="pull-left">Sort</label>
                <div class="custom-select">
                    <span class="selector icon-arrow-down"></span>
                    <select id="sortOptions" data-ng-model="filterItem.store" data-ng-options="modelRecord.name for modelRecord in filterOptions.stores"></select>
                </div>
            </div>
            <div data-ng-repeat="modelRecord in event.FOCUS13.ModelRecords | limitTo:10 | filter: customFilter" class="module review">
                <div class="labels">
                    <ul class="group span-5">
                        <li ng-repeat="star in reviews.stars" class="rating">
                        <input type="radio" id="" name="" value="" /><label for="" title="">1 star</label>
                        </li>
                        <li class="col">{{modelRecord.username}}</li>
                        <li class="col">{{modelRecord.UserLocation}}</li>
                        <li class="col">{{modelRecord.ReviewdateTimestamp | limitTo: 10 | date:'MMM d, y'}}</li>
                    </ul>
                </div>
                <div class="car_details">
                    <p><span>Driving : </span> {{modelRecord.Model}}</p>
                </div>
                <div class="model_stars span-12 clearfix">
                    <input type="hidden" name="amount" value="{{modelRecord.UserOverallRating}}">
                    <input type="submit" value="update" class="hide">
                    <p class="star_container--reviews reviews_stars"><span class="starsRating"><span></span>{{modelRecord.UserOverallRating}}</span></p>
                </div>
                <div class="review_comments span-12">
                    <p>{{modelRecord.UserComments}}</p>
                </div>
            </div>
        </div>
        <div data-ng-controller="MessageController" class="module container disclaimer">
            <div class="row group">
                <div class="large-12 columns">
                    <div class="large-8 centered__content container">
                        <p class="text-center">Showing 10 of X customer reviews</p>
                    </div>
                    <div class="large-4 centered__content">
                        <input type="button" value="READ MORE REVIEWS" class="custom-button blue" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
-->

<script src="lib/vendor/jquery.js"></script>
<script src="lib/vendor/foundation.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/angular/angular-animate.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/RatingsController.js"></script>
<script src="js/controllers/ReviewsController.js"></script>
<script src="js/controllers/SortController.js"></script>
<script src="js/controllers/starsController.js"></script>
<script src="js/services/ReviewsData.js"></script>
<script src="js/services/RatingsData.js"></script>
<script src="js/services/SortData.js"></script>
<script src="js/directives/directives.js"></script>
<script>

    $(function() {
        $('input[type=submit]').click(function() {
            $('p.star_container').html('<span class="starsRating">'+parseFloat($('input[name=amount]').val())+'</span>');
            $('span.starsRating').stars();
        });
        $('input[type=submit]').click();
    });

    $.fn.stars = function() {
        return $(this).each(function() {
            $(this).html($('<span />').width(Math.max(0, (Math.min(5, parseFloat($(this).html())))) * 60)); /* 49 is the width of the stars image */
        });
    }
</script>
</body>
</html>
